<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="#" class="navbar-brand">MEANBLOG</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li *ngIf="user"><a href="#" (click)="changeRoute('members')">Members</a></li>
				<li *ngIf="!user"><a href="#" (click)="changeRoute('register')">Register</a></li>
				<li *ngIf="!user"><a href="#" (click)="changeRoute('login')">Login</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right"  *ngIf="user">
				<li class="dropdown" >
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				      {{ user.username}} <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				      	<li>
				      		<a href="" (click)="changeRoute('logout')">Logout</a>
				      	</li>
				      	<li>
				      		<a href="">My Account</a>
				      	</li>
				    </ul>
				  </li>
			</ul>
		</div>
	</div>
</div>

