<h2 class="page-header">Add Category</h2>

<div class="success-message" *ngIf="successMessage">
	<div class="alert alert-success">{{successMessage}}</div>
</div>

<div class="errors" *ngIf="serverValidationErrors">
	<div *ngFor="let error of serverValidationErrors">
		<div class="alert alert-danger">{{error.msg}}</div>
	</div>
</div>

<form [formGroup]="addCategoryForm" (ngSubmit)="addCategory(addCategoryForm.value)">

	<div class="form-group">
		<label for="">name</label>
		<input formControlName="name" type="text" class="form-control">

		<div class="alert alert-danger" *ngIf="!addCategoryForm.controls['name'].valid && addCategoryForm.controls['name'].touched">
			Name is required..
		</div>
	</div>

	<input 
		type="submit" 
		class="btn btn-primary" 
		value="Add Category"
		[disabled]="!addCategoryForm.valid"
		>
</form>