<h2 class="page-header">Register</h2>
<p>Please register using the form below</p>

<div class="success-message" *ngIf="successMessage">
	<div class="alert alert-success">{{successMessage}}</div>
</div>

<div class="errors" *ngIf="serverValidationErrors">
	<div *ngFor="let error of serverValidationErrors">
		<div class="alert alert-danger">{{error.msg}}</div>
	</div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" enctype="multipart/form-data" >
	<div class="form-group">
		<label for="">Name</label>
		<input formControlName="name" type="text" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">
			Name is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">Email</label>
		<input formControlName="email" type="email" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
			Email is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">Username</label>
		<input formControlName="username" type="text" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
			Username is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">Password</label>
		<input formControlName="password" type="password" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
			Password is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">ConfirmPassword</label>
		<input formControlName="password2" type="password" class="form-control">

		<div class="alert alert-danger" *ngIf="!registerForm.controls['password2'].valid && registerForm.controls['password2'].touched">
			Password is required..
		</div>
	</div>

	<div class="form-group">
		<label for="">Profile Image</label>
		<input formControlName="profileImage" name="profileImage" type="file" class="form-control">
	</div>


	<input 
		type="submit" 
		class="btn btn-primary" 
		value="Register"
		[disabled]="!registerForm.valid"
		>
</form>